@model Enlevo.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<div class="container-header">
    <div class="header-text">
        <h2 style="display:inline-block;">Excluir</h2> <img src="~/images/circle.png" width="10" height="10" />
        <p>Tem certeza que gostaria de excluir?</p>
    </div>
</div>
<div>
    <dl class="dl-horizontal container-details">
        <dt class="item-detail">
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>
        <dt class="item-detail">
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailUsuario)
        </dd>
        <dt class="item-detail">
            @Html.DisplayNameFor(model => model.SenhaUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenhaUsuario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsuarioId" />
        <input type="submit" value="Delete" class="btn btn-default btn-delete" />
        <a asp-action="Index" class="btn btn-list">Cancelar</a>
    </form>
</div>
