@model Enlevo.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<div class="container-header">
    <div class="header-text">
        <h2>Detalhes cliente</h2>
    </div>
    <img src="~/images/circle.png" width="10" height="10" />
</div>
<div>
    <dl class="dl-horizontal container-details">
        <dt class="item-detail">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class="item-detail">
            @Html.DisplayNameFor(model => model.TelefoneCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefoneCliente)
        </dd>       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClienteId" class="btn btn-edit">Editar</a>
    <a asp-action="Index" class="btn btn-list">Voltar</a>
</div>
