@model Enlevo.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<div class="container-header">
    <div class="header-text">
        <h2>Detalhes produto</h2>
    </div>
    <img src="~/images/circle.png" width="10" height="10" />
</div>

<div>
    <dl class="dl-horizontal container-details">
        <dt class="item-detail">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class="item-detail">
            @Html.DisplayNameFor(model => model.QuantidadeProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeProduto)
        </dd>
        <dt class="item-detail">
            @Html.DisplayNameFor(model => model.ValorProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorProduto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProdutoId" class="btn btn-edit">Edit</a>
    <a asp-action="Index" class="btn btn-list">Back to List</a>
</div>
